body{
	margin: 0;
	padding: 0;
	background: deepskyblue;
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.cloud{
	position: relative;
	width: 300px;
	height: 100px;
	border-radius: 200px;
	z-index: 2000;
	background: white;
	animation: move 8s linear infinite;
}

.cloudcurve1{
	
	position: absolute;
	top: -50px;
	left: 45px;
	background: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.cloudcurve2{
	
	position: absolute;
	top: -75px;
	right: 40px;
	background: white;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.sun{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
	background: yellow;
	border: linear-gradient(to right, yellow, yellowgreen 30%, orange 70%);
	border-radius: 50%;
	top: -100px;
	left: 50px;
	z-index: -1;
	animation: animate 20px linear infinite;
}

.sunrays{
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	

}

.ray1{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: yellow;
	z-index: -10;


}

.ray2{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(210deg);
	top: 50%;
	left: 50%;
	background: yellow;
}

.ray3{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(240deg);
	top: 50%;
	left: 50%;
	background: yellow;

}

.ray4{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(305deg);
	top: 50%;
	left: 50%;
	background: yellow;

}

.ray5{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(-30deg);
	top: 50%;
	left: 50%;
	background: yellow;

}

.ray6{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(-80deg);
	top: 50%;
	left: 50%;
	background: yellow;

}

.ray7{
	position: absolute;
	height: 140px;
	width: 3px;
	transform: translate(-50%, -50%) rotate(-100deg);
	top: 50%;
	left: 50%;
	background: yellow;

}




